'name': 'SCA Server Page (HTML)'
'scopeName': 'text.html.mustache.sca.ssp'
'fileTypes': [
  'ssp'
  'merchzone.txt'
]
'injections':
  'L:text.html.mustache.sca.ssp - (meta.tag.template.mustache | meta.embedded.sca.ssp | comment.block)':
    'patterns': [
      {
        'include': 'text.html.mustache#mustache'
      }
      {
        'include': 'source.sca.ssp'
      }
    ]
'patterns': [
  {
    'include': 'text.html.basic'
  }
]
