'name': 'SCA Server Page (JavaScript)'
'scopeName': 'source.js.sca.ssp'
'fileTypes': [
  'environment.ssp'
]
'injections':
  'L:source.js.sca.ssp - (comment.block | meta.embedded.sca.ssp)':
    'patterns': [
      {
        'include': 'source.sca.ssp'
      }
    ]
'patterns': [
  {
    'include': 'source.js'
  }
]
