'name': 'SCA Server Page (JavaScript)'
'scopeName': 'source.js.sca.ssp'
'fileTypes': [
  'environment.ssp'
]
'injections':
  'L:source.js.sca.ssp - (comment.block | meta.embedded.sca.ssp)':
    'patterns': [
      {
        'begin': '(<%=?)'
        'beginCaptures':
          '1':
            'name': 'keyword.control.directive.sca.ssp'
        'end': '(%>)|((\\{))\\s*(%>)|(\\})\\s*(%>)'
        'endCaptures':
          '1':
            'name': 'keyword.control.directive.sca.ssp'
          '2':
            'name': 'source.js.embedded.sca.ssp'
          '3':
            'name': 'meta.brace.curly.js'
          '4':
            'name': 'keyword.control.directive.sca.ssp'
          '5':
            'name': 'source.js.embedded.sca.ssp'
          '6':
            'name': 'meta.brace.curly.js'
          '7':
            'name': 'keyword.control.directive.sca.ssp'
        'name': 'meta.embedded.sca.ssp'
        'contentName': 'source.js.embedded.sca.ssp'
        'patterns': [
          {
            'include': 'source.js'
          }
        ]
      }
    ]
'patterns': [
  {
    'include': 'source.js'
  }
]
