'name': 'SCA Server Page (HTML)'
'scopeName': 'text.html.mustache.sca.ssp'
'fileTypes': [
  'ssp'
]
'injections':
  'L:text.html.mustache.sca.ssp - (meta.tag.template.mustache | comment.block | meta.embedded.sca.ssp)':
    'patterns': [
      {
        'include': 'text.html.mustache#mustache'
      }
      {
        'begin': '(<%=?)'
        'beginCaptures':
          '1':
            'name': 'keyword.control.directive.sca.ssp'
        'end': '(%>)|(?:(\\{)\\s*(%>))|(?:(\\})\\s*(%>))'
        'endCaptures':
          '1':
            'name': 'keyword.control.directive.sca.ssp'
          '2':
            'name': 'meta.brace.curly.js'
          '3':
            'name': 'keyword.control.directive.sca.ssp'
          '4':
            'name': 'meta.brace.curly.js'
          '5':
            'name': 'keyword.control.directive.sca.ssp'
        'name': 'meta.embedded.sca.ssp'
        'contentName': 'source.js.embedded.sca.ssp'
        'patterns': [
          {
            'include': 'source.js'
          }
        ]
      }
    ]
'patterns': [
  {
    'include': 'text.html.basic'
  }
]
