'name': 'SCA Server Page'
'scopeName': 'text.html.sca.ssp'
'fileTypes': [
  'ssp'
]
'patterns': [
  {
    'include': 'text.html.sca.tpl'
  }
  {
    'begin': '<%='
    'beginCaptures':
      '0':
        'name': 'entity.name.tag.sca.ssp'
    'end': '%>'
    'endCaptures':
      '0':
        'name': 'entity.name.tag.sca.ssp'
    'name': 'source.js.sca.ssp'
    'contenName': 'source.js.embedded.sca.ssp'
    'patterns': [
      {
        'include': 'source.js'
      }
    ]
  }
  {
    'begin': '<%'
    'beginCaptures':
      '0':
        'name': 'entity.name.tag.sca.ssp'
    'end': '([^{]\\{)|([^}]\\})'
    'endCaptures':
      '0':
        'name': 'meta.brace.curly.js'
    'name': 'source.js.sca.ssp'
    'contenName': 'source.js.embedded.sca.ssp'
    'patterns': [
      {
        'include': 'source.js'
      }
    ]
  }
  {
    'begin': '(?<=([^{]\\{)|([^}]\\}))'
    'end': '%>'
    'endCaptures':
      '0':
        'name': 'entity.name.tag.sca.ssp'
    'name': 'source.js.sca.ssp'
    'contenName': 'source.js.embedded.sca.ssp'
    'patterns': [
      {
        'include': 'source.js'
      }
    ]
  }
]
