'name': 'SCA Server Page'
'scopeName': 'text.html.sca.ssp'
'fileTypes': [
  'ssp'
]
'patterns': [
  {
    'include': 'text.html.sca.tpl'
  }
  {
    'begin': '(<%=?)'
    'beginCaptures':
      '1':
        'name': 'entity.name.tag.sca.ssp'
    'end': '[^\\{](\\{)|[^\\}](\\})|(%>)'
    'endCaptures':
      '1':
        'name': 'meta.brace.curly.js'
      '2':
        'name': 'meta.brace.curly.js'
      '3':
        'name': 'entity.name.tag.sca.ssp'
    'name': 'meta.embedded.sca.ssp'
    'contenName': 'source.js.embedded.sca.ssp'
    'patterns': [
      {
        'include': 'source.js'
      }
    ]
  }
  {
    'begin': '(?<=[^\\{]\\{|[^\\}]\\})'
    'end': '(%>)'
    'endCaptures':
      '1':
        'name': 'entity.name.tag.sca.ssp'
    'name': 'meta.embedded.sca.ssp'
    'contenName': 'source.js.embedded.sca.ssp'
    'patterns': [
      {
        'include': 'source.js'
      }
    ]
  }
]
