'name': 'SCA Template'
'scopeName': 'text.html.mustache.sca.tpl'
'fileTypes': [
  'tpl'
]
'injections':
  'L:text.html.mustache.sca.tpl - (meta.tag.template.mustache | comment.block)':
    'patterns': [
      {
        'include': 'text.html.mustache#mustache'
      }
    ]
'patterns': [
  {
    'include': 'text.html.basic'
  }
]
