'name': 'SCA Template'
'scopeName': 'text.html.mustache.sca.tpl'
'fileTypes': [
  'tpl'
]
'patterns': [
  {
    'include': 'text.html.mustache'
  }
  {
    'include': 'text.html.mustache#comment'
  }
  {
    'include': 'text.html.mustache#block-comment'
  }
  {
    'include': 'text.html.mustache#inline-comment'
  }
  {
    'include': 'text.html.mustache#block-expression-start'
  }
  {
    'include': 'text.html.mustache#block-expression-end'
  }
  {
    'include': 'text.html.mustache#escape'
  }
  {
    'include': 'text.html.mustache#template'
  }
]
