name: 'SCA Server Page (JavaScript)'
scopeName: 'source.js.sca.ssp'
type: 'tree-sitter'
parser: 'tree-sitter-embedded-template'

fileTypes: [
  'environment.ssp'
]

comments:
  start: '//'

scopes:
  'comment_directive': 'comment.block'
  'comment_directive > "%>"': 'comment.block'

  '"<%"': 'keyword.control.directive'
  '"<%="': 'keyword.control.directive'
  '"%>"': 'keyword.control.directive'
