name: 'SCA Server Page (HTML)'
scopeName: 'text.html.mustache.sca.ssp'
type: 'tree-sitter'
parser: 'tree-sitter-embedded-template'

fileTypes: [
  'ssp'
  'merchzone.txt'
]

comments:
  start: '<!--'
  end: '-->'

scopes:
  'comment_directive': 'comment.block'
  'comment_directive > "%>"': 'comment.block'

  '"<%"': 'keyword.control.directive'
  '"<%="': 'keyword.control.directive'
  '"%>"': 'keyword.control.directive'
